* {
    margin: 0;
    padding: 0;
} 

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff ;

}

/*-----------------Conteudo--------------*/

#conteudo{
    margin-top: 60px;
    background: #f5f5f5;
}

#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
 
  }

#secundario {
    width: 270px;
    float: left;
   
  }  

.entry-title {
    font-size:20px;
    font-size:1.25rem;
  }
.entry-meta{
    color: #f5f5f5;
    font-weight: 600;
    font-size: 0.8125rem;
}  
  
.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin: 5px;
    
    }