* {
    margin: 0;
    padding: 0;
} 

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff ;

}

/*-----------------Conteudo--------------*/

#conteudo{
    margin-top: 60px;
    background: #f5f5f5;
}

#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
 
  }

#secundario {
    width: 270px;
    float: left;
   
  }  
  
.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin: 5px;
    
    }