/* arquivo: estilo.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 15px;
}
nav a {
  text-decoration: none;
  color: white;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
}
section {
  padding: 2rem;
  text-align: center;
}
h2, p, img {
  width: 600px;
  height: auto;
  margin: auto;
}

img.aligncenter {
  width: 80%; 
  max-width: 600px;
  height: auto; 
  padding: 5%;
}
section p {
  text-align: justify;
  hyphens: auto; /* Add hifens automaticamente */
  width: 60%;
  margin: 0 auto;
}
.especial{
  color:yellow;
}


/* versões diferentes responsivo */